<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classy Gamers</title>
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>
    <header>
        <a href="/"> <img src="/images/Banner.jpg" alt="Video game Play" id=hIMG> </a>

            <ul id="headerNAV">
                <li><a href="/connections/new">Start a New Grouping</a></li>
                <li><a href="/Login.ejs">Login</a></li>
                <li><a href="/Signup.ejs">Sign up</a></li>
            </ul>

    </header>
    
    <nav id="generalNAV">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/connections">Connections</a></li>
            
            
        </ul>
    </nav>