
   <%- include('./partials/header.ejs')%>

   <main>
       <Div id="indexBody">
           <h2>Contact Us</h2>
           <p>ahill112@uncc.edu
               <br> 704-123-4567
           </p>
       </Div>
       

       
   </main>

   <%- include('./partials/footer.ejs')%>