
   <%- include('./partials/header.ejs')%>

    <main>
        <Div id="indexBody">
            <h2>Classy Gamers</h2>
            <p>Is a place where retro gamers and modern gamers can come together to play the games they want in an easier way scheduling meetings. 
                There are two ssections to schedule a meeting which is retro games(Tetris, Pac-Man) and modern games(Call of Duty, Borderlands). </p>
        </Div>
        

		
    </main>

    <%- include('./partials/footer.ejs')%>
